.vscode/
vendor/*
Thumbs.db
.env
.bak
.log
app/config/
app/tests/
app/logs/
public_html/assets/image/*
public_html/sitemap.xml
public_html/games/*
public_html/api/game*
game_server
public_html/robots.txt