RewriteEngine On
RewriteBase /pj_homepage/

# adminディレクトリへのアクセス制限
RewriteCond %{REQUEST_URI} ^/pj_homepage/admin
RewriteCond %{REQUEST_MEHOD} !POST
RewriteCond %{HTTP_COOKIE} !^.*(PHPSESID|user_id)=.*$ [NC]
RewriteRule ^(.*)$ /pj_homepage/admin/login

# ファイルやディレクトリが存在しない場合はindex.phpへリダイレクト
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]