form {
  margin-block-end: 0;
}
.admin-table-container table {
  width: calc(100% - 60px);
  margin: 0px 30px auto;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #A0522D;
}

.admin-table-container tr:last-child td {
  border-bottom: none;
}

.admin-table-container tr:first-child th {
  background-color: #F6E1D3;
}

.admin-table-container td,
.admin-table-container th {
  border-bottom: 1px solid #A0522D;;
  background-color: #fcf4e7;
  padding: 8px;
}

.admin-table-container td {
  text-align: center;
  vertical-align: middle;
}

.admin-table-container th {
  font-weight: bold;
  color: #333;
}

.admin-headnig {
  margin: 30px;
  /* border: solid 1px firebrick; */
}

.pagination {
  margin: 0 30px;
  padding: 0 10px;
  text-align: right;
  /* border: 1px solid forestgreen; */
}

.pagination a {
  display: inline-block;
  padding: 8px 10px;
  margin: 10px 5px;
  background-color: #F6E1D3;
  color: #333;
  border: 1px solid #A0522D;
  transition: color 0.3s, background-color 0.3s;
}

.pagination a:hover {
  background-color: #A0522D;
  color: white;
}

.pagination a.active {
  background-color: #A0522D;
  color: white;
  border-color: #A0522D;
}

.pagination a.disabled {
  pointer-events: none;
  background-color: #e9ecef;
  border-color: #d6d8db;
  color: gray;
  opacity: 0.6;
}

.error-message {
  color: red;
  font-weight: bold;
  background-color: #ffe6e6;
  padding: 10px;
  border: 1px solid red;
  margin: 10px 0;
}

/* =======================================
  新規作成ボタン
======================================= */
.admin-create-new-btn {
  display: inline-block;
  margin: 0 30px;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  color: #fff;
  background-color: #A0522D;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* ホバー */
.admin-create-new-btn:hover {
  background-color: #C07A55;
  color: #FFFFFF;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.admin-create-new-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(251, 170, 49, 0.5);
}

.admin-create-new-btn:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #8C4F3D;
}

/* =======================================
  トグルスイッチ
======================================= */
.toggle-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggle-text {
  display: inline-block;
  width: 50%;
  text-align: center;
  font-size: 14px;
  color: #333;
  transition: color 0.3s ease;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 25px;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #FBAA31;
}

input:checked + .slider::before {
  transform: translateX(25px);
}

/* =======================================
  編集ボタン
======================================= */
.admin-edit-btn,
.admin-delete-btn {
  display: inline-block;
  margin: 5px;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  color: #fff;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.admin-edit-btn {
  background-color: #A0522D;
}

.admin-edit-btn:hover {
  background-color: #C07A55;
  transform: translateY(-2px);
}

.admin-edit-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(251, 170, 49, 0.5);
}

.admin-edit-btn:active {
  transform: translateY(2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* =======================================
  削除ボタン
======================================= */
.admin-delete-btn {
  background-color: #D9534F;
}

.admin-delete-btn:hover {
  background-color: #C9320C;
  transform: translateY(-2px);
}

.admin-delete-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(251, 170, 49, 0.5);
}

.admin-delete-btn:active {
  transform: translateY(2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* =======================================
  公開日 編集ボタン
======================================= */
.publish-date-edit-btn {
  display: inline-block;
  margin: 10px 5px;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #F9A825;
  border: none;
  border-radius: 25px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.publish-date-edit-btn:hover {
  background-color: #FFCA28;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.publish-date-edit-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(251, 170, 49, 0.5);
}

.publish-date-edit-btn:active {
  transform: translateY(2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* =======================================
  日付選択
======================================= */
.publish-date-input-datetime {
  display: inline-block;
  width: 100%;
  max-width: 170px;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  background-color: #f7e9d5;
  border: 2px solid #C0695B;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.publish-date-input-datetime:focus {
  outline: none;
  border-color: #FBAA31;
  box-shadow: 0 0 8px rgba(251, 170, 49, 0.5);
}

.publish-date-input-datetime:hover {
  background-color: #f8efe2;
  border-color: #F57C00;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* =======================================
  公開日 保存ボタン
======================================= */
.publish-date-save-btn {
  display: inline-block;
  margin: 10px 5px;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #F57C00;
  border: none;
  border-radius: 25px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.publish-date-save-btn:hover {
  background-color: rgb(253, 177, 63);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.publish-date-edit-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(251, 170, 49, 0.5);
}

.publish-date-save-btn:active {
  transform: translateY(2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}